:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-custom {
  background-color: #38000e !important;
}


/*Contacto*/
.contáctanos .info-item {
  background: #fff;
  padding: 30px;
  height: 100%;
}

.contáctanos .info-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: #fff;
  background: #c01934;
  border-radius: 50%;
  margin-right: 15px;
}

.contáctanos .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.contáctanos .info-item p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
}

.contáctanos .info-item .social-links a {
  font-size: 24px;
  display: inline-block;
  color: rgba(55, 55, 63, 0.7);
  line-height: 1;
  margin: 4px 6px 0 0;
  transition: 0.3s;
}

.contáctanos .info-item .social-links a:hover {
  color: var(--color-primary);
}

.contáctanos .email-form {
  width: 100%;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.contáctanos .email-form .form-group {
  padding-bottom: 20px;
}

.contáctanos .email-form input,
.contáctanos .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contáctanos .email-form input:focus,
.contáctanos .email-form textarea:focus {
  border-color: var(--color-primary);
}

.contáctanos .email-form input {
  height: 48px;
}

.contáctanos .email-form textarea {
  padding: 10px 12px;
}
